<h1><%= I18n.t("customer_account_mailer.enrollment_approved.greeting", name: @customer.first_name) %></h1>

<p><%= I18n.t("customer_account_mailer.enrollment_approved.body", course: @course.name) %></p>
