<h1><%= I18n.t("customer_account_mailer.enrollment_declined.greeting", name: @customer.first_name) %></h1>

<p><%= I18n.t("customer_account_mailer.enrollment_declined.body", course: @course.name) %></p>

<% if @enrollment.declined_reason.present? %>
  <p><%= I18n.t("customer_account_mailer.enrollment_declined.reason", reason: @enrollment.declined_reason) %></p>
<% end %>
