<h1><%= I18n.t("customer_account_mailer.join_request_submitted.greeting", name: @customer.first_name) %></h1>

<p><%= I18n.t("customer_account_mailer.join_request_submitted.body", excursion: @excursion.title) %></p>
